.about {
  background: #f5f8fc;
  color: #1b3764;
}
.about__inner {
  display: flex;
  justify-content: space-between;
  padding: 130px 0 168px;
}

.about__info {
  padding-left: 7px;
  padding-top: 68px;
  width: 47%;
}

.about__media {
  margin-right: 50px;
}
.about__info-text {
  font-family: "Inter";
  font-size: 19px;
  line-height: 34px;
  color: #969aa0;
  margin: 59px 0 33px;
}

.about__info-statistic {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-bottom: 54px;
}

/* .statistic__item {
  max-width: 1000px;
} */
.statistic__item:nth-child(-n + 2) {
  padding-right: 9%;
  border-right: 1px solid #ffca42;
}

.statistic__item-title {
  font-family: "Cardo";
  font-size: 54px;
  line-height: 77px;
  color: #1b3764;
}

.statistic__item-text {
  font-family: "Inter";
  font-size: 17px;
  line-height: 22px;
  color: #969aa0;
}

.about__info-card {
  display: flex;
  align-items: center;
  background: #1b3764;
  color: #b4c7e7;
  max-width: 484px;
  padding: 15px 20px;
}

.card__info {
  padding-left: 40px;
}

.card__info-name {
  font-family: "Cardo";
  font-size: 22px;
  line-height: 26px;
  color: #ffca42;
  margin-bottom: 10px;
}

.card__info-contact {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.19px;
  margin-bottom: 4px;
  color: #b4c7e7;
}

@media screen and (max-width: 1200px) {
  .about__media {
    margin-right: 50px;
    width: 40%;
  }

  .about__info {
    padding-left: 7px;
    padding-top: 68px;
    width: 60%;
  }

  .about__inner {
    align-items: center;
    padding: 80px 0px;
  }

  .statistic__item:nth-child(-n + 2) {
    padding-right: 5%;
    border-right: 1px solid #ffca42;
  }

  .card__media {
    width: 20%;
  }

  .about__info-card {
    max-width: 484px;
    padding: 15px;
  }
}

@media screen and (max-width: 900px) {
  .about__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 0px;
  }

  .about__info {
    padding-left: 7px;
    padding-top: 68px;
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .statistic__item-title {
    font-size: 50px;
  }

  .statistic__item-text {
    font-size: 15px;
  }
}

@media screen and (max-width: 650px) {
  .statistic__item-title {
    font-size: 40px;
  }

  .statistic__item-text {
    font-size: 15px;
  }

  .statistic__item-title {
    text-align: center;
  }

  .statistic__item-text {
    text-align: center;
  }

  .statistic__item:nth-child(-n + 2) {
    padding-right: 3%;
    border-right: 1px solid #ffca42;
  }

  .card__info-contact {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.19px;
    margin-bottom: 4px;
    color: #b4c7e7;
  }

  .card__media {
    width: 20%;
  }
}
