.footer {
  background-color: #1b3764;
  color: #b4c7e7;
}

.footer__inner {
  padding: 100px 0 24px;
}
.footer__top {
  padding-bottom: 95px;
  display: flex;
  justify-content: space-between;
}

.social__logo {
  padding-bottom: 16px;
}

/* .social__links {
  max-width: 300px;
} */

.social__links svg + svg {
  margin-left: 5px;
}

.list__title {
  font-family: "Cardo";
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.384px;
  color: #ffffff;
  padding-bottom: 24px;
}

.list__item-text {
  position: relative;
  font-family: "Inter";
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.18px;
  color: #b4c7e7;
  margin-left: 30px;
  padding-bottom: 9px;
}

.list__item-text::before {
  content: "...";
  position: absolute;
  margin-left: -30px;
  top: -5px;
  color: #ffca42;
  font-size: 25px;
  outline: none;
}

.list__item-text:focus::before {
  outline: none;
}

.footer__top-address {
  max-width: 420px;
  padding-right: 50px;
}

.address {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 28px;

  /* width: 300px; */
}

.address__title {
  font-family: "Cardo";
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.36px;
  color: #ffffff;
}

.address__text {
  font-family: "Inter";
  font-size: 17px;
  line-height: 27px;
  color: #b4c7e7;
}

.footer__bottom-text {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .footer__inner {
    padding: 50px 0 24px;
  }

  .social__links {
    display: flex;
    flex-direction: column;
  }

  .social__links svg + svg {
    margin-left: 0px;
    margin-top: 5px;
  }

  .footer__top {
    padding-bottom: 30px;
  }

  .footer__top-address {
    max-width: 320px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 1020px) {
  .footer__inner {
    padding: 50px 0 24px 50px;
  }
  .footer__top {
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    align-items: start;
    justify-items: start;
    /* gap: 30px; */
  }

  .social__links {
    flex-direction: row;
  }

  .social__links svg + svg {
    margin: 0;
    margin-left: 5px;
  }

  .footer__top div {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 700px) {
  .footer__inner {
    padding: 50px 0 24px 50px;
  }
  .footer__top {
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-wrap: wrap;
    align-items: start;
    justify-items: start;
  }

  .footer__bottom-text {
    text-align: left;
  }

  .footer__top div {
    margin-bottom: 30px;
  }
}
